streamlit==1.32.0
sentence-transformers==2.2.2
transformers==4.36.2
torch
torchvision
torchaudio
faiss-cpu
pypdf
yfinance
pandas
numpy
requests
nltk
langchain-text-splitters
pydantic
python-dotenv





